<!DOCTYPE HTML>
<html>

<head>
    <title>Shri Subrahmanya Developers</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link rel="icon" href="/images/logo.png" type="image/jpeg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-animate.min.js"></script>
    <script src="/js/lib/jquery.cookie.js"></script>
    <script src="/js/admin.js"></script>
    <!-- <meta name="keywords"
        content="Land Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" /> -->
    <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
    <style>
            .box {
                display: none;
            }

            .red {
                background: none;
            }

            .green {
                background: none;
            }

            .box1 {
                display: none;
            }

            .Booked {
                background: none;
            }

            .pink {
                background: none;
            }



            .tab button {
                background-color: #343a40;
                color: #fff;
                outline: none;
                border: none;
                padding: 10px;
                width: 280px;
            }

            .tab button.active {
                color: #fff;
                background-color: #ff6b6b;
                border: none;
            }

            .tabcontent {
                display: none;
                padding: 6px 12px;
                border-top: none;
            }
        </style>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Bootstrap-Core-CSS -->
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Style-CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link
            href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
            rel="stylesheet">
    <link
            href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
            rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body ng-app="main-app" ng-controller="adminCtrl">
<!-- header -->
<header>
    <div class="container">
        <div class="header d-lg-flex justify-content-between align-items-center py-2 px-sm-2 px-1">
            <!-- logo -->
            <div id="logo">
                <a href="update.jsp"> <img src="/images/logo.png" alt="logo" style="width: 30px; height: 30px;">
                    Sri&nbsp;<span style="color: #fff">&nbsp;Skanda</span>&nbsp;Developers
                </a>
                <!--  -->
            </div>

            <!-- //logo -->
            <!-- nav -->
            <div class="nav_w3ls ml-lg-5">
                <a href="/login" style="color: #ff6b6b; float:right">Logout</a>
            </div>
            <!-- //nav -->
        </div>

    </div>
</header>
<!-- //header -->

<!-- inner banner -->
<div class="inner-banner-w3ls py-5" id="home">
    <div class="container py-xl-5 py-lg-3">
        <!-- login  -->

        <div class="tab modal-body mb-5">

            <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Update Info</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Status Info</button>
        </div>
        <div class="modal-body">
            <div id="London" class="tabcontent">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Select Plot</label>
                        <select  ng-model="selectedPlot" ng-change="updateSelectedPlot(selectedPlot)">
                            <option ng-repeat="item in plots" ng-value="{{item}}">
                                Plot {{item.id}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div>
                            <label style="color: #fff"><input ng-model="selectedPlot.status" type="radio" name="status" value="Booked"
                                                              style="color: #fff">&nbsp;Booked</label>
                            <label style="color: #fff"><input ng-model="selectedPlot.status" type="radio" name="status"
                                                              value="Available">&nbsp;Available</label>
                        </div>
                    </div>

                    <div class="form-group Booked box1">
                        <input ng-model="selectedPlot.ownerName" type="text" class="form-control" placeholder="Enter Name">
                        <br>
                        <input ng-model="selectedPlot.ownerLocation" type="text" class="form-control" placeholder="Enter City">
                    </div>

                    <br>
                    <button ng-click="updatePlot()" class="btn button-style-w3 ">Save</button>
                    <label ng-cloak style="text-align: center;color: green;">{{msg}}</label>
                    <label ng-cloak style="text-align: center;color: red;">{{errormsg}}</label>
                </form>
            </div>

        </div>

        <div class="modal-body">
            <div id="Paris" class="tabcontent">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Stats:</label>
                        <input ng-model="stats.profAgents" type="text" class="form-control" placeholder="No of agents" name="profAgents" required="">
                        <br>
                        <input ng-model="stats.allotted" type="text" class="form-control" placeholder="Plots Booked" name="plotsBooked" required="">
                        <br>
                        <input ng-model="stats.provAllotted" type="text" class="form-control" placeholder="Plots Allotted" name="plotsAllotted" required="">
                        <br>
                        <button ng-click="updateStats()" class="btn button-style-w3 ">Save</button>

                    </div>
                </form>
            </div>
        </div>

        <!-- //login -->
    </div>
</div>
<div class="copyright-w3ls py-4">
    <div class="container">
        <div class="row">
            <!-- copyright -->
            <p class="col-lg-12 copy-right-grids text-wh text-lg-left text-center mt-lg-2">Regd. Office: Flat No.102, Sree Divya
                Heights, Plot No. 102,# 12-11-705A, Warasiguda, Secunderabad, Telangana - 500061.
            </p>
            <p class="col-lg-12 copy-right-grids text-wh text-lg-left text-center mt-lg-2">Corporate Office: #11-3-362/3, Makam Ramulu Complex, Mohammad Guda, Warasiguda, Secunderabad - 500061.
            </p>
            <p class="col-lg-12 copy-right-grids text-wh text-lg-left text-center mt-lg-2"><a
                    href="http://www.vkandigital.com/" target="_blank">© 2019 Vkan Digital Solutions.All
                Rights Reserved.</a>

            </p>

        </div>
    </div>
</div>

</body>

<script>
        $(document).ready(function () {
            $('input[type="radio"]').click(function () {
                var inputValue = $(this).attr("value");
                var targetBox = $("." + inputValue);
                $(".box1").not(targetBox).hide();
                $(targetBox).show();
            });
        });
    </script>

<script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

</html>