<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Sri Skanda Developers</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="google1a9c0b4209f1523f.html">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="icon" href="images/logo.png" type="image/jpeg">
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-animate.min.js"></script>
    <!-- <meta name="keywords"
        content="Land Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" /> -->
    <script type="text/javascript">
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }


        </script>
    <script src="/js/main.js"></script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Bootstrap-Core-CSS -->
    <link href="/css/style.css" rel='stylesheet' type='text/css' />

    <!-- Style-CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link
            href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
            rel="stylesheet">
    <link
            href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
            rel="stylesheet">
    <!-- //Web-Fonts -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- bootstrap -->

    <style>
            .box {
                color: #fff;
                padding: 20px;
                display: none;
                margin-top: 20px;
            }
            #BookedDiv {
                color: #fff;
                padding: 20px;
                display: none;
                margin-top: 20px;
            }
            #AvailableDiv {
                color: #fff;
                padding: 20px;
                display: none;
                margin-top: 20px;
            }


            .red1{
                background: red;
            }

            .green7{
                background-color: green;
            }
        </style>
</head>

<body ng-app="main-app" ng-controller="homeCtrl">
<!-- header -->



<header>
    <div class="container">
        <div class="header d-lg-flex justify-content-between align-items-center py-2 px-sm-2 px-1">
            <!-- logo -->
            <div id="logo">
                <a href="pages"> <img src="images/logo.png" alt="logo" style="width: 30px; height: 30px;">
                    Sri&nbsp;<span style="color: #fff">&nbsp;Skanda</span>&nbsp;Developers
                </a>
                <!--  -->
            </div>

            <!-- //logo -->
            <!-- nav -->
            <div class="nav_w3ls ml-lg-5">
                <nav>
                    <label for="drop" class="toggle"><i class="fa fa-bars"></i></label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu">
                        <li><a href="pages">Home</a></li>
                        <li><a href="#about" onclick="toggleMenu()">Who We Are</a></li>
                        <li><a href="#services" onclick="toggleMenu()">Our Plans</a></li>
                        <li><a href="#gallery" onclick="toggleMenu()">Gallery</a></li>

                        <li>

                            <ul>

                            </ul>
                        </li>
                        <li><a href="#blog" onclick="toggleMenu()">Highlights</a></li>
                        <li><a href="#contact" onclick="toggleMenu()">Contact Us</a></li>

                    </ul>
                </nav>
            </div>
            <!-- //nav -->
        </div>

    </div>
</header>
<!-- //header -->

<!-- banner -->
<div class="main-w3pvt mian-content-wthree text-center" id="home">
    <div class="container">
        <div class="style-banner mx-auto">

            <h3 class="text-wh font-weight-bold"> <span style="color:#fff; background-color: #000"> Find Your <span
                    style="color:  #ff6b6b;background-color: #000"> Best</span>
                            Farm Plots</span> </h3>


            <br>
            <br>
            <h3 class="text-wh font-weight-bold"> <span style="background-color: #000">Skanda Meadows</span>
            </h3>

        </div>
    </div>
</div>
<!-- //banner -->


<!-- content -->
<div class="w3pvtits-services py-5" style="background-color: #ff6b6b">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-wh font-weight-bold">Owning a Farm Plot<span
                style="color: black">&nbsp;&nbsp;Dream?</span>
        </h3>

        <div class="row w3pvtits-services-row text-center pt-4">
            <div class="col-lg-12 serv-w3mk my-lg-0 my-5">
                <div style="background-color: #ff6b6b">

                    <p style="color: #fff">Owning a Farm House with a Club House is everyone's dream these days. But
                        practically it is not possible for everyone to realize this dream for the following reasons.
                    </p>
                    <p style="color: #fff">The prices of agricultural lands have skyrocketed these days. Buying a
                        minimum of five acres of agricultural land would cost a fortune.</p>
                    <p style="color: #fff">Construction of own club house would cost a lot.</p>
                    <p style="color: #fff">Maintenance of Farm and club house would incur huge expenses.</p>
                    <p style="color: #fff">Owing to the above reasons it is nearly impossible for everyone to
                        realize the dream of owning a Farm house with club house.</p>
                    <p style="color: #fff"> <b style="color:black">STOP WORRYING!!</b> &nbsp;We are there with you.</p>

                </div>
            </div>

        </div>
    </div>

</div>
<!-- //services -->

<!-- banner bottom -->
<section class="w3ls-bnrbtm  py-5" style="background-color: black" id="about">
    <div class="container py-xl-5 py-lg-3" style="background-color: #000">
        <h3 class="title-w3 mb-md-5 mb-4 text-center text-bl font-weight-bold text-wh">Welcome To Our
            <span>Skanda Meadows</span> </h3>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h3 class="title-sub mb-4 text-wh">The best place to find the <span class=" font-weight-bold"
                                                                                    style="color: #ff6b6b">Farm Plots</span></h3>
                <img src="images/plot55.jpg" alt="about" class="img-fluid" />

            </div>
            <div class="col-lg-6 pr-xl-5 mt-xl-4 mt-lg-0 mt-4">
                <p class="sub-para">SRI SKANDA DEVELOPERS makes your dream of owning a Farm house with a club
                    house a reality by its Farm Plots Venture "SKANDA MEADOWS" at Nemila village, Rajapet Mandal,
                    Yadadri Bhuvanagiri District, Telangana, at extremely affordable price and extremely easy EMI's.
                </p>
                <p class="sub-para">Excited!! Immediately book your plot in SKANDA MEADOWS
                    and realize your dream of owning a Farm house with a club house NEAR YADAGIRIGUTTA.</p>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h3 class="title-sub mb-4 text-wh pt-4 mt-4 border-top">Benefits of Farm Plots at Our <span
                        style="color: #ff6b6b">Skanda Meadows.</span> </h3>
                <img src="images/Plotview.png" alt="about" class="img-fluid" />

            </div>
            <div class="col-lg-6 pr-xl-5 mt-xl-4 mt-lg-0 mt-4">
                <p class="sub-para"><i class="fa fa-hand-o-right text-wh"></i>&nbsp;Fast appreciation of land value.
                </p>
                <p class="sub-para"><i class="fa fa-hand-o-right text-wh"></i>&nbsp;Income from Red Sandal Wood
                    Plantation.</p>
                <p class="sub-para"><i class="fa fa-hand-o-right text-wh"></i>&nbsp;The vision of SRI SKANDA
                    DEVELOPERS, in designing the Farm Plots Layout with 33' feet wide roads and 10% of the plotted
                    areas as open area, will enable the plot owners to convert the entire Farm Plots layout into a
                    Residential Layout without any obstacles or hassles, at any point of time in future.</p>
                <p class="sub-para"><i class="fa fa-hand-o-right text-wh"></i>&nbsp;Totally professional approach of
                    SRI SKANDA DEVELOPERS will make the plot owners feel at home.</p>
                <p class="sub-para"><i class="fa fa-hand-o-right text-wh"></i>&nbsp;"Plot owners friendly" Terms and
                    Conditions of our company will certainly make owners happiest persons on the earth.</p>

            </div>
        </div>
    </div>
</section>
<!-- //banner bottom -->

<!-- services -->
<div class="w3pvtits-services py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-wh font-weight-bold">We Provide The <span>Best Plans</span>
        </h3>

        <div class="row w3pvtits-services-row text-center pt-4">
            <div class="col-lg-4 serv-w3mk my-lg-0 my-5">
                <div class="w3pvtits-services-grids">
                    <div class="icon-effect-wthree">
                        <span class="fa fa-building ser-icon"></span>
                    </div>
                    <h4 class="text-bl my-4">Plan 1</h4>
                    <p class="text-left">Plot allotment on payment of single EMI (T&C
                        Apply)<span style="visibility: hidden;"> Plot allotment on payment of single EMI (T&C
                                    Apply)</span></p>

                    <a class="service-btn btn mt-xl-5 mt-4" href="#contact">Reach Us<span
                            class="fa fa-long-arrow-right ml-2"></span></a>
                </div>
            </div>

            <div class="col-lg-4 serv-w3mk my-lg-0 my-5">
                <div class="w3pvtits-services-grids">
                    <div class="icon-effect-wthree">
                        <span class="fa fa-building ser-icon"></span>
                    </div>
                    <h4 class="text-bl my-4">Plan 2 </h4>

                    <p class="text-left">Never before,Never again,Limited period First Year EMI @Rs.5000/- PER
                        MONTH(T&C Apply)</p>
                    <a class="service-btn btn mt-xl-5 mt-4" href="#contact">Reach Us<span
                            class="fa fa-long-arrow-right ml-2"></span></a>
                </div>
            </div>

            <div class="col-lg-4 serv-w3mk my-lg-0 my-5">
                <div class="w3pvtits-services-grids">
                    <div class="icon-effect-wthree">
                        <span class="fa fa-building ser-icon"></span>
                    </div>
                    <h4 class="text-bl my-4">Plan 3</h4>
                    <p class="text-left">Zero Down Payment,No Special(or)Big installments<span
                            style="visibility: hidden">Zero Down Payment,No Special(or)Big installments</span> </p>



                    <a class="service-btn btn mt-xl-5 mt-4" href="#contact">Reach Us<span
                            class="fa fa-long-arrow-right ml-2"></span></a>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- //services -->











<!-- places -->
<section class="branches py-5" id="places">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-bl font-weight-bold">Most Popular <span>Places</span>&nbsp;Near By Our <span>Venture</span></h3>

        <div class="row branches-position pt-4">
            <div class="col-lg-3 col-sm-6 place-w3">
                <!-- branch-img -->
                <div class="team-img team-img-1">

                </div>
                <div class="team-content">
                    <h4 class="text-bl text-center">Surendrapuri</h4>

                </div>
            </div>
            <!-- / branch-img -->
            <div class="col-lg-3 col-sm-6 place-w3 mt-sm-0 mt-4">
                <!-- team-img -->
                <div class="team-img team-img-2">

                </div>
                <div class="team-content">
                    <h4 class="text-bl text-center">Fort-Rajapet</h4>
                    <!-- <p class="team-meta">Place 2</p> -->
                </div>
            </div>
            <!-- /.branch-img -->
            <div class="col-lg-3 col-sm-6 place-w3 mt-lg-0 mt-4">
                <!-- team-img -->
                <div class="team-img team-img-3">

                </div>
                <div class="team-content">
                    <h4 class="text-bl text-center">Jain Mandir Kolanupaka</h4>
                    <!-- <p class="team-meta">Place 3</p> -->
                </div>
            </div>
            <!-- /.branch-img -->
            <div class="col-lg-3 col-sm-6 place-w3 mt-lg-0 mt-4">
                <!-- team-img -->
                <div class="team-img team-img-4">

                </div>
                <div class="team-content">
                    <h4 class="text-bl text-center">Yadagirigutta</h4>
                    <!-- <p class="team-meta">Place 4</p> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //places -->

<!-- stats section -->
<div class="middlesection-w3pvt py-5 mt-5" id="facts">
    <div class="container py-xl-5 py-lg-3">
        <div class="offset-lg-4 offset-md-2 offset-sm-1 left-build-wthree aboutright-w3pvtwthree">
            <h3 class="title-w3-2 title-w3 mb-md-5 mb-4 font-weight-bold">Some Statistical Facts</h3>
            <div class="row">
                <div class="col-sm-4 w3layouts_stats_left w3_counter_grid">
                    <p class="para-text-w3ls text-li text-center" style="font-size: 18px"><i
                            class="fa fa-users"></i></p>
                    <p ng-cloak class="counter text-center">{{stats.profAgents}}</p>
                    <p class="para-text-w3ls text-li text-center">Professional Agents</p>
                </div>
                <div class="col-sm-4 w3layouts_stats_left w3_counter_grid2 my-sm-0 my-2">
                    <p class="para-text-w3ls text-li text-center" style="font-size: 18px"><i
                            class="fa fa-smile-o"></i> </p>
                    <p ng-cloak class="counter text-center">{{stats.provAllotted}}</p>
                    <p class="para-text-w3ls text-li text-center">Provisionally Allotted</p>
                </div>
                <div class="col-sm-4 w3layouts_stats_left w3_counter_grid1">
                    <p class="para-text-w3ls text-li text-center" style="font-size: 18px"><i
                            class="fa fa-briefcase"></i></p>
                    <p ng-cloak class="counter text-center">{{stats.allotted}}</p>
                    <p class="para-text-w3ls text-li text-center">Allotted</p>
                </div>
            </div>
        </div>
    </div>
    <div class="property-paper">
        <img src="images/img3.png" alt="" class="img-fluid agents-w3" />
    </div>
</div>
<!-- //stats section -->

<!-- blog -->
<section class="blog_w3ls py-5" id="blog">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-bl font-weight-bold">Highlights &<span> Amenities</span></h3>
        <!-- <p class="text-center title-w3 mb-md-5 mb-4">Excepteur sint occaecat cupidatat</p> -->
        <div class="row pt-4">
            <!--blog grid-->
            <div class="col-lg-6 col-md-6 text-center mt-lg-0 mt-5">
                <div class="card">
                    <div class="card-header m-0">
                        <h3 class="blog-title card-title m-0 text-wh">
                            Highlights
                        </h3>
                    </div>
                    <div class="card-body">
                        <h6 class="text-bl text-left"><i class="fa fa-arrow-right"></i>&nbsp;Farm Plots layout.</h6>
                        <br>
                        <h6 class="text-bl text-left"><i class="fa fa-arrow-right"></i>&nbsp;100% clear title.</h6>
                        <br>
                        <h6 class="text-bl text-left"><i class="fa fa-arrow-right"></i>&nbsp;Spot Registration.</h6>
                        <br>
                        <h6 class="text-bl text-left"><i class="fa fa-arrow-right"></i>&nbsp;33 feet wide
                            boulevards.</h6> <br>
                        <h6 class="text-bl text-left"><i class="fa fa-arrow-right"></i>&nbsp;10% open space for
                            park, playground, club house, society's office and other community
                            activities.</h6> <br>


                    </div>

                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-6 col-md-6 text-center mt-lg-0 mt-5">
                <div class="card">
                    <div class="card-header m-0">
                        <h3 class="blog-title card-title m-0 text-wh">
                            Amenities
                        </h3>
                    </div>
                    <div class="card-body">
                        <h6 class="text-bl text-left"><i class="fa fa-arrow-right"></i>&nbsp;1000 sft common club
                            house.</h6> <br>
                        <h6 class="text-bl text-left"><i class="fa fa-arrow-right"></i>&nbsp;Free Red sandal wood
                            plants in each plot.</h6> <br>
                        <h6 class="text-bl text-left"><i class="fa fa-arrow-right"></i>&nbsp;Avenue Plantation.</h6>
                        <br>
                        <h6 class="text-bl text-left"><i class="fa fa-arrow-right"></i>&nbsp;Barbed wire fencing all
                            around the layout.</h6> <br>
                        <h6 class="text-bl text-left"><i class="fa fa-arrow-right"></i>&nbsp;Entrance Gate.</h6>
                        <br> <br>


                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- //blog -->

<!-- gallery -->
<div class="gallery py-5 pb-5" id="gallery" style="background-color: #000">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-bl font-weight-bold">Our <span>Gallery</span></h3>

        <div class="row news-grids text-center no-gutters">
            <div class="col-md-4 gal-img">
                <a href="#gal1"><img src="images/farmplot1.webp" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal2"><img src="images/clubhouse2.png" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal3"><img src="images/hut.png" alt="Gallery Image" class="img-fluid"></a>
            </div>
        </div>
        <div class="row news-grids text-center no-gutters">
            <div class="col-md-4 gal-img">
                <a href="#gal4"><img src="images/farmplot3" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal5"><img src="images/farmplot4" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal6"><img src="images/plot66.jpg" alt="Gallery Image" class="img-fluid"></a>
            </div>
        </div>
        <!-- gallery popups -->
        <!-- popup-->
        <div id="gal1" class="pop-overlay animate">
            <div class="popup">
                <img src="images/farmplot1.webp" alt="Popup Image" class="img-fluid" />
                <p class="mt-4">plot view.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal2" class="pop-overlay animate">
            <div class="popup">
                <img src="images/clubhouse2.png" alt="Popup Image" class="img-fluid" />
                <p class="mt-4">Common Club House.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal3" class="pop-overlay animate">
            <div class="popup">
                <img src="images/hut.png" alt="Popup Image" class="img-fluid" />
                <p class="mt-4">Meadow Hut.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup3 -->
        <!-- popup-->
        <div id="gal4" class="pop-overlay animate">
            <div class="popup">
                <img src="images/farmplot3" alt="Popup Image" class="img-fluid" />
                <p class="mt-4">Main Road.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal5" class="pop-overlay animate">
            <div class="popup">
                <img src="images/farmplot4" alt="Popup Image" class="img-fluid" />
                <p class="mt-4">Modern Plot.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal6" class="pop-overlay animate">
            <div class="popup">
                <img src="images/plot66.jpg" alt="Popup Image" class="img-fluid" />
                <p class="mt-4">Park.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- //gallery popups -->
    </div>
</div>
<!-- //gallery -->

<!-- testimonials -->
<section class="clients py-5 text-center" id="testi">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-wh font-weight-bold">What Our <span>Customers</span> Say</h3>
        <p class="text-center text-li title-w3 mb-sm-5 mb-4">Honest and Perfect Owners</p>

        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>

            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p class="text-wh">Thanks to Skanda Meadows, for giving me an opportunity to purchase land at an affordable
                        price nearby Yadagirigutta.</p>
                    <p class="text-wh">Nowadays, for a middle class person, it is highly impossible to purchase land but it is made so
                        easy by Sri Skanda Developers by their easy instalment system.</p>
                    <p class="text-wh">Mian advantage is alloting a plot on payment of SINGLE EMI.</p>
                    <br>
                    <p class="text-wh"> <strong>Advantages of this venture:</strong> </p>
                    <p class="text-wh">.&nbsp;33 feet Black Top(BT) road facing venture</p>
                    <p class="text-wh">.&nbsp;Common Club house </p>
                    <p class="text-wh">.&nbsp;Huge Park</p>
                    <p class="text-wh">.&nbsp;Red Sandal wood plantation</p>
                    <p class="text-wh">.&nbsp;33' feet wide roads.</p>
                    <p class="text-wh"> <b>I am so happy to be a proud owner of farm plot in Skanda Meadows.</b>
                    </p>
                    <h4 class="mt-4 text-wh font-weight-bold mb-4">Smt.Kalpana</h4>
                </div>
                <div class="carousel-item">
                    <p class="text-wh">Hi, as you all know that how difficult is it to own a plot in Hyderabad. Prices are touching sky  and was out of my budget. To fulfill my dream I  went on searching for plots around Hyderabad about 50km radius and  near Yadagirigutta  which perfectly fits my budget. I was  searching to buy one. But it was a nightmare to find  genuine developers, but by the God's grace one day I had been contacted by <b>Sri Subramanya Developers</b>  to visit their farm plots venture which is situated in Nemila village near Yadagirigutta. Plots were on the main road and the most amazing thing was they were offering with best price and that too we can pay in easy installments. </p>
                    <p class="text-wh">The Subramanya Developers' management is kind, enough trust worthy and supportive. Here ended my search and I bought my dream plot.</p>

                    <p class="text-wh"> <b> Thanks to Sri Skanda  Developers.</b>
                    </p>
                    <img src="images/prasanth.jpg" alt="customer" width="50px" height="50px" class="img-fluid rounded-circle mt-5">
                    <h4 class="mt-4 text-wh font-weight-bold mb-4">Awaru prasanth Kumar,<p  class="font-weight-light">Banglore</p> </h4>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</section>
<!-- //testimonials -->

<!-- apps -->
<div class="apps_w3w3pvt bg-light py-5" id="apps">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-bl font-weight-bold">Location <span>Highlights</span></h3> <br>
        <!-- <p class="text-center title-w3 mb-md-5 mb-4">Excepteur sint occaecat cupidatat</p> -->

        <h6 class="text-left"><i class="fa fa-map-marker"></i>&nbsp;Nemila village to Rajapet Mandal Headquarters -
            3.5 km.</h6> <br>
        <h6 class=" text-left"><i class="fa fa-map-marker"></i>&nbsp;Nemila village to Rajapet Fort - 3.8 km.</h6>
        <br>
        <h6 class=" text-left"><i class="fa fa-map-marker"></i>&nbsp;Nemila village to Kolanupaka Jain Mandir -
            12km.</h6> <br>
        <h6 class=" text-left"><i class="fa fa-map-marker"></i>&nbsp;Nemila village to Yadagirigutta - 20km.</h6>
        <br>
        <h6 class=" text-left"><i class="fa fa-map-marker"></i>&nbsp;Nemila village to Kunda Satyanarayana
            Kaladhamam,Surendrapuri - 21 km.</h6> <br>
        <h6 class=" text-left"><i class="fa fa-map-marker"></i>&nbsp;Nemila village to Aler,Hyderabad - Warangal
            Express Highway - 19 km.</h6> <br>
        <h6 class=" text-left"><i class="fa fa-map-marker"></i>&nbsp;Nemila village to Siddha Kshetra Dham in 250
            acres proposed at Yadagirigutta - 18 km.</h6> <br>
        <h6 class=" text-left"><i class="fa fa-map-marker"></i>&nbsp;Nemila village to Gajwel, Rajiv Rahadari
            Fourway Express Highway - 35 km.</h6> <br>
        <h6 class=" text-left"><i class="fa fa-map-marker"></i>&nbsp;Nemila village to Uppal Ring Road - 71 km.</h6>


    </div>
    <img src="images/img2.png" alt="" class="img-fluid img-podi-w3ls">
</div>
<!-- //apps -->





<!-- contact -->
<div class="w3pvtits-services py-5" id="contact">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-wh font-weight-bold"><span>Contact Us</span>
        </h3>
        <!-- <p class="text-li text-center title-w3 mb-md-5 mb-4">Excepteur sint occaecat cupidatat</p> -->
        <div class="row w3pvtits-services-row text-center pt-4">
            <div class="col-lg-4 serv-w3mk my-lg-0 my-5">

                <img src="images/ceo.jpeg" alt="CEO" class="img-fluid">
                <h4 style="color: #000">V. KESARI</h4>
                <p style="color: #000">(Chief Executive Officer)</p>



            </div>
            <div class="col-lg-4 serv-w3mk my-lg-0 my-5">


                <form action="GetData" method="post" id="getDataForm">
                    <input type="hidden" name="type" value="email" />
                    <div class="form-group">
                        <input class="form-control" type="text" id="name" name="name" placeholder="Enter name" required="" maxlength="30" onkeypress="return isNotEmpty(this, event);">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" id="mno" name="mno" placeholder="Enter 10 digit mobile number" required="" pattern="[6-9]{1}[0-9]{9}" maxlength="10" onkeypress="return isNotEmpty(this, event);">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" id="email" name="email" placeholder="Email" required="" maxlength="50" onkeypress="return isNotEmpty(this, event);">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" id="subject" name="subject" placeholder="Enter your subject" required="" maxlength="100" onkeypress="return isNotEmpty(this, event);">
                    </div>
                    <div class="form-group">
                        <textarea style="width: 100%" id="message" name="body" placeholder="Enter your message here" required="" maxlength="200" onkeypress="return isNotEmpty(this, event);"></textarea>
                    </div>
                    <button class="form-control btn" style="background-color: #ff6b6b;color: #fff"
                            type="submit" >Submit</button>
                </form>
                <span id="contactUsMsg" ></span>

                <br>
                <a href="https://api.whatsapp.com/send?phone=+919705897870&text=I%27m%20interested%20in%20your%20Farm%20Plot%20for%20sale&source=&data=
                           "> <img src="images/w3-2.png" height="20px" width="20px" alt="whatsapp icon">&nbsp;970 589 7870</a>
                <br>
                <a href="https://api.whatsapp.com/send?phone=+919398306216&text=I%27m%20interested%20in%20your%20Farm%20Plot%20for%20sale&source=&data=
                           "> <img src="images/w3-2.png" height="20px" width="20px" alt="whatsapp icon">&nbsp;939 830 6216
                </a>


            </div>
            <div class="col-lg-4 serv-w3mk my-lg-0 my-5">

                <img src="images/MD-2.jpg" alt="CEO" class="img-fluid">

                <h4 style="color: #000">P Santosh Kumar</h4>
                <p style="color: #000">(Head - Marketing)</p>


            </div>
        </div>
    </div>

</div>
<!-- //contact -->


<!-- map section -->
<div class="w3pvtits-services py-5" style="background-color: #ff6b6b">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-wh font-weight-bold">Reach<span
                style="color: black">&nbsp;&nbsp;Us</span>
        </h3>
        <!-- <p class="text-li text-center title-w3 mb-md-5 mb-4">Excepteur sint occaecat cupidatat</p> -->
        <div class="row w3pvtits-services-row text-center pt-4">
            <div class="col-lg-12 serv-w3mk my-lg-0 my-5">
                <!--                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3800.2306480488696!2d78.97505261435788!3d17.733768197391438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTfCsDQ0JzAxLjYiTiA3OMKwNTgnMzguMSJF!5e0!3m2!1sen!2sin!4v1576860147825!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>-->
                <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3250.931792020993!2d78.97628176435788!3d17.73634559731639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m4!2s17.7337631%2C78.9772413!3m2!1d17.7337631!2d78.9772413!4m4!2s17.7333410%2C78.9772700!3m2!1d17.733341!2d78.97726999999999!5e1!3m2!1sen!2sin!4v1577448560656!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

            </div>

        </div>
    </div>
</div>


<!-- layout section -->
<section class="site-layout" style="background-color: black;">
    <div class="apps_w3w3pvt bg-light py-5" id="apps">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="title-w3 mb-2 text-center text-bl font-weight-bold">Plot<span> Status</span></h3> <button
                type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Check Availability
        </button>

            <!-- The Modal -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog move-top">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Plot Details</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">

                            <div>
                                <select name="plotid" id="" >
                                    <option value="0">Choose plot</option>
                                    <option ng-cloak ng-repeat="item in plots" value="{{item}}">Plot {{item.id}}</option>
                                </select>
                            </div>
                            <div class="red1" id="BookedDiv">Plot No: 1<br>
                                Status: Booked

                            </div>

                            <div class="green7" id="AvailableDiv">Plot No: 7<br>
                                Status: Available!! <br>
                                <a href="#contact" style="color:#fff">Reach Us</a>
                            </div>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div> <br>
            <img src="images/Changed Layout.png" alt="layout" class="img-fluid">

        </div>

    </div>
</section>
<!-- layout section -->



<!-- footer -->
<footer class="py-5">
    <div class="container py-xl-4 py-lg-3">
        <div class="row footer-grids">
            <div class="col-lg-2 col-6 footer-grid">
                <h3 class="mb-sm-4 mb-3 pb-lg-3">Home</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="index.html">Index</a>
                    </li>
                    <li>
                        <a href="#about">About Us</a>
                    </li>
                    <li>
                        <a href="#services">Plans</a>
                    </li>
                    <li>
                        <a href="#gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 footer-grid">
                <h3 class="mb-sm-4 mb-3 pb-lg-3"> Company</h3>
                <ul class="list-unstyled">
                    <!-- <li>
                        <a href="#find">Find a Property</a>
                    </li> -->
                    <li>
                        <a href="#blog">Highlights</a>
                    </li>
                    <li>
                        <a href="#places">Popular Places</a>
                    </li>
                    <li>
                        <a href="#facts">Statistical Facts</a>
                    </li>
                    <li>
                        <a href="#testi">Testimonials</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 footer-grid footer-contact mt-lg-0 mt-4">
                <h3 class="mb-sm-4 mb-3 pb-lg-3"> Contact Us</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://api.whatsapp.com/send?phone=+919705897870&text=I%27m%20interested%20in%20your%20Farm%20Plot%20for%20sale&source=&data=
                                   "> <img src="images/w3-2.png" height="20px" width="20px" alt="whatsapp icon">&nbsp;970 589 7870</a>
                    </li>
                    <li>
                        <a href="https://api.whatsapp.com/send?phone=+919398306216&text=I%27m%20interested%20in%20your%20Farm%20Plot%20for%20sale&source=&data=
                                   "> <img src="images/w3-2.png" height="20px" width="20px" alt="whatsapp icon">&nbsp;939 830 6216
                        </a>
                    </li>
                    <li>
                        <a href="tel:9705897870"><i class="fa fa-phone"></i>&nbsp;&nbsp;970 589 7870
                        </a>
                    </li>
                    <li>
                        <a href="mailto:ssmeadows916@gmail.com"><i class="fa fa-envelope-o"
                                                                   style="color: #fff">&nbsp;Drop mail:</i></a>
                        <a href="mailto:ssmeadows916@gmail.com">ssmeadows916@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 footer-grid text-lg-right">
                <ul class="list-unstyled">


                </ul>
            </div>
            <div class="col-lg-4 footer-grid mt-lg-0 mt-4">
                <div class="footer-logo">
                    <h2 class="text-lg-center text-center">

                    </h2>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->
<!-- copyright -->
<div class="copyright-w3ls py-4">
    <div class="container">
        <div class="row">
            <!-- copyright -->

            <p class="col-lg-12 copy-right-grids text-wh text-lg-left text-center mt-lg-2">Regd. Office: Flat No.102, Sree Divya
                Heights, Plot No. 102,# 12-11-705A, Warasiguda, Secunderabad, Telangana - 500061.
            </p>
            <p class="col-lg-12 copy-right-grids text-wh text-lg-left text-center mt-lg-2">Corporate Office: #11-3-362/3, Makam Ramulu Complex, Mohammad Guda, Warasiguda, Secunderabad - 500061.
            </p>
            <p class="col-lg-12 copy-right-grids text-wh text-lg-left text-center mt-lg-2">Note: The photos and plots shown in this site are <b>INDICATIVE</b>  only.
            </p>

            <p class="col-lg-12 copy-right-grids text-wh text-lg-left text-center mt-lg-2"><a
                    href="http://www.vkandigital.com/" target="_blank">© 2019 Vkan Digital Solutions.All
                Rights Reserved.</a>

            </p>

        </div>
    </div>
</div>
<!-- //copyright -->
<!-- move top icon -->
<a href="#home" class="move-top text-center">
    <span class="fa fa-angle-double-up" aria-hidden="true"></span>
</a>
<!-- //move top icon -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#getDataForm").submit(function (event) {
                                            console.log('getDataForm - Submit function');
                                            event.preventDefault(); //prevent default action
                                            var post_url = $(this).attr("action"); //get form action url
                                            var request_method = $(this).attr("method"); //get form GET/POST method
                                            var form_data = $(this).serialize(); //Encode form elements for submission
                                            console.log('getDataForm - Submit function 11');
                                            $.ajax({
                                                url: post_url,
                                                type: request_method,
                                                data: form_data
                                            }).done(function (response) { //
                                                var status = response["status"];
                                                var message = response["message"];
                                                $("#contactUsMsg").html(message);
                                                if (status === 'success') {
                                                    $("#contactUsMsg").css("color", "green");
                                                    $("#contactUsMsg").css("font-weight", "bold");
                                                } else {
                                                    $("#contactUsMsg").css("color", "red");
                                                    $("#contactUsMsg").css("font-weight", "bold");
                                                }

                                                showmsg();
                                                $("#email").val("");
                                                $("#message").val("");
                                                $("#subject").val("");
                                                $("#name").val("");
                                                $("#mno").val("");
                                                console.log('getDataForm - Submit function 22');
                                            });
                                        });
                                        $('select').on('change', function () {
                                        if (this.value == "0") {
                                           document.getElementById('BookedDiv').style.display = 'none';
                                            document.getElementById("AvailableDiv").style.display = "none";
                                        } else {
                                            var optionValue = JSON.parse(this.value);

                                            var status = optionValue.status;
                                            var name = optionValue.ownerName;
                                            var address = optionValue.ownerLocation;
                                            if (status === 'Booked')
                                            {
                                                document.getElementById('BookedDiv').style.display = 'block';
                                                document.getElementById("AvailableDiv").style.display = "none";
                                                var msg = 'PlotNo : ' + optionValue.id + ' - ' + status;
                                                if (name)
                                                    msg = msg + '<br/>' + ' Name : ' + name;
                                                if (address)
                                                    msg = msg + '<br/>' + ' Address : ' + address;
                                                $("#BookedDiv").html(msg);
                                            }
                                            else
                                            {
                                                document.getElementById('BookedDiv').style.display = 'none';
                                                document.getElementById("AvailableDiv").style.display = "block";
                                                $("#AvailableDiv").html('PlotNo : ' + optionValue.id + '</br>' + status);

                                            }
                                        }
                                        });

                                    });



                                    function toggleMenu() {
                                        $("#drop").click();
                                    }




                                    function showmsg() {
                                        setTimeout(function delay() {
                                            //document.getElementById("contactUsMsg").style.visibility = "hidden";
                                            $("#contactUsMsg").html("");
                                        }, 5000);
                                    }




    </script>

<script>

        setTimeout(function delay() {
            document.getElementById("contactUsMsg").style.visibility = "";
        }, 4000);
    </script>


<script>
        function isNotEmpty(field, evt) {
            var inputValue = field.value;
            //console.log('inputValue : ' + inputValue);
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            //console.log('charCode : ' + charCode);
            if (inputValue.trim().length === 0 && (charCode === 46 || charCode === 32 || charCode === 44)) {
                return false;
            }
            return true;
        }
    </script>




</html>